[project]
name = "ai-proctor"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.127.0",
    "opencv-python>=4.12.0.88",
    "uvicorn>=0.40.0",
]
