camera:
  params:
    index: 0
    width: 640
    height: 480
    fps: 30

mediapipe:
  num_faces: 1
  min_detection_confidence: 0.5
  min_tracking_confidence: 0.5

thresholds:
  ear_blink: 0.25
  mar_mouth: 0.6
  head_pose:
    yaw: 20
    pitch: 15
    roll: 15
